In [1]:
from langchain_openai import ChatOpenAI
import os

In [2]:
llm = ChatOpenAI(
    openai_api_key=os.environ.get("OPENAI_API_KEY"), model_name="gpt-4o-mini"
)

In [3]:
from langchain_community.utilities import SQLDatabase

db_uri = (
    "sqlite:///ai_project.db"
)


db = SQLDatabase.from_uri(db_uri)
print(db.dialect)
print(db.get_usable_table_names())

sqlite
['TrainSchedule']

In [4]:
from langchain_community.agent_toolkits import create_sql_agent

agent_executor = create_sql_agent(llm, db=db, agent_type="openai-tools", verbose=True)

In [5]:
response = agent_executor.invoke("Which trains will go to Mumbai?")

print(response["output"])

> Entering new SQL Agent Executor chain...

Invoking: `sql_db_list_tables` with `{}`


TrainSchedule
Invoking: `sql_db_schema` with `{'table_names': 'TrainSchedule'}`



CREATE TABLE "TrainSchedule" (
	"TrainNumber" INTEGER,
	"ArrivalTime" TIME,
	"DepartureTime" TIME,
	"Destinations" TEXT,
	"DestinationTimes" TEXT,
	"TicketFare" DECIMAL(10, 2),
	"PlatformNumber" INTEGER,
	"TrainName" VARCHAR(100),
	"TrainType" VARCHAR(50),
	"DaysOfOperation" VARCHAR(50),
	PRIMARY KEY ("TrainNumber")
)

/*
3 rows from TrainSchedule table:
TrainNumber	ArrivalTime	DepartureTime	Destinations	DestinationTimes	TicketFare	PlatformNumber	TrainName	TrainType	DaysOfOperation
12301	08:15:00	08:30:00	Delhi, Jaipur, Ajmer	{"Delhi": "08:15", "Jaipur": "10:45", "Ajmer": "12:00"}	499.99	1	Rajdhani Express	Express	Mon, Wed, Fri
12622	10:45:00	11:00:00	Bangalore, Chennai, Hyderabad	{"Bangalore": "10:45", "Chennai": "13:30", "Hyderabad": "18:00"}	299.99	3	Karnataka Express	Superfast	Daily
11014	14:10:00	14:25:00	Mumbai, Pune, Goa	{"Mumbai": "14:10", "Pune": "16:00", "Goa": "19:30"}	199.99	4	Konkan Kanya Express	Express	Tue, Thu, Sat
*/
Invoking: `sql_db_query_checker` with `{'query': "SELECT TrainNumber, TrainName, ArrivalTime, DepartureTime, TicketFare FROM TrainSchedule WHERE Destinations LIKE '%Mumbai%'"}`


```sql
SELECT TrainNumber, TrainName, ArrivalTime, DepartureTime, TicketFare FROM TrainSchedule WHERE Destinations LIKE '%Mumbai%'
```
Invoking: `sql_db_query` with `{'query': "SELECT TrainNumber, TrainName, ArrivalTime, DepartureTime, TicketFare FROM TrainSchedule WHERE Destinations LIKE '%Mumbai%'"}`


[(11014, 'Konkan Kanya Express', '14:10:00', '14:25:00', 199.99)]The train that goes to Mumbai is:

- **Train Name**: Konkan Kanya Express
- **Train Number**: 11014
- **Arrival Time**: 14:10
- **Departure Time**: 14:25
- **Ticket Fare**: ₹199.99

> Finished chain.
The train that goes to Mumbai is:

- **Train Name**: Konkan Kanya Express
- **Train Number**: 11014
- **Arrival Time**: 14:10
- **Departure Time**: 14:25
- **Ticket Fare**: ₹199.99

In [6]:
response = agent_executor.invoke("Which is the fastest train to Bangalore?")
print(response["output"])

> Entering new SQL Agent Executor chain...

Invoking: `sql_db_list_tables` with `{}`


TrainSchedule
Invoking: `sql_db_schema` with `{'table_names': 'TrainSchedule'}`



CREATE TABLE "TrainSchedule" (
	"TrainNumber" INTEGER,
	"ArrivalTime" TIME,
	"DepartureTime" TIME,
	"Destinations" TEXT,
	"DestinationTimes" TEXT,
	"TicketFare" DECIMAL(10, 2),
	"PlatformNumber" INTEGER,
	"TrainName" VARCHAR(100),
	"TrainType" VARCHAR(50),
	"DaysOfOperation" VARCHAR(50),
	PRIMARY KEY ("TrainNumber")
)

/*
3 rows from TrainSchedule table:
TrainNumber	ArrivalTime	DepartureTime	Destinations	DestinationTimes	TicketFare	PlatformNumber	TrainName	TrainType	DaysOfOperation
12301	08:15:00	08:30:00	Delhi, Jaipur, Ajmer	{"Delhi": "08:15", "Jaipur": "10:45", "Ajmer": "12:00"}	499.99	1	Rajdhani Express	Express	Mon, Wed, Fri
12622	10:45:00	11:00:00	Bangalore, Chennai, Hyderabad	{"Bangalore": "10:45", "Chennai": "13:30", "Hyderabad": "18:00"}	299.99	3	Karnataka Express	Superfast	Daily
11014	14:10:00	14:25:00	Mumbai, Pune, Goa	{"Mumbai": "14:10", "Pune": "16:00", "Goa": "19:30"}	199.99	4	Konkan Kanya Express	Express	Tue, Thu, Sat
*/
Invoking: `sql_db_query_checker` with `{'query': "SELECT TrainName, ArrivalTime, DestinationTimes FROM TrainSchedule WHERE Destinations LIKE '%Bangalore%' ORDER BY ArrivalTime LIMIT 10;"}`
responded: The relevant columns to determine the fastest train to Bangalore are the "TrainName," "DepartureTime," and "DestinationTimes." I will query for the train that goes to Bangalore with the earliest arrival time.

Let me create the query now.

```sql
SELECT TrainName, ArrivalTime, DestinationTimes FROM TrainSchedule WHERE Destinations LIKE '%Bangalore%' ORDER BY ArrivalTime LIMIT 10;
```
Invoking: `sql_db_query` with `{'query': "SELECT TrainName, ArrivalTime, DestinationTimes FROM TrainSchedule WHERE Destinations LIKE '%Bangalore%' ORDER BY ArrivalTime LIMIT 10;"}`


[('Brindavan Express', '05:30:00', '{"Chennai": "05:30", "Bangalore": "09:00", "Mysore": "11:30"}'), ('Karnataka Express', '10:45:00', '{"Bangalore": "10:45", "Chennai": "13:30", "Hyderabad": "18:00"}')]The fastest train to Bangalore is the **Brindavan Express**, which arrives in Bangalore at **09:00 AM**. The other train, **Karnataka Express**, arrives at **10:45 AM**.

> Finished chain.
The fastest train to Bangalore is the **Brindavan Express**, which arrives in Bangalore at **09:00 AM**. The other train, **Karnataka Express**, arrives at **10:45 AM**.

In [7]:
response = agent_executor.invoke("When is the next train to Surat? Can you tell me when it will arrive and on which platform?")
print(response["output"])

> Entering new SQL Agent Executor chain...

Invoking: `sql_db_list_tables` with `{}`


TrainSchedule
Invoking: `sql_db_schema` with `{'table_names': 'TrainSchedule'}`



CREATE TABLE "TrainSchedule" (
	"TrainNumber" INTEGER,
	"ArrivalTime" TIME,
	"DepartureTime" TIME,
	"Destinations" TEXT,
	"DestinationTimes" TEXT,
	"TicketFare" DECIMAL(10, 2),
	"PlatformNumber" INTEGER,
	"TrainName" VARCHAR(100),
	"TrainType" VARCHAR(50),
	"DaysOfOperation" VARCHAR(50),
	PRIMARY KEY ("TrainNumber")
)

/*
3 rows from TrainSchedule table:
TrainNumber	ArrivalTime	DepartureTime	Destinations	DestinationTimes	TicketFare	PlatformNumber	TrainName	TrainType	DaysOfOperation
12301	08:15:00	08:30:00	Delhi, Jaipur, Ajmer	{"Delhi": "08:15", "Jaipur": "10:45", "Ajmer": "12:00"}	499.99	1	Rajdhani Express	Express	Mon, Wed, Fri
12622	10:45:00	11:00:00	Bangalore, Chennai, Hyderabad	{"Bangalore": "10:45", "Chennai": "13:30", "Hyderabad": "18:00"}	299.99	3	Karnataka Express	Superfast	Daily
11014	14:10:00	14:25:00	Mumbai, Pune, Goa	{"Mumbai": "14:10", "Pune": "16:00", "Goa": "19:30"}	199.99	4	Konkan Kanya Express	Express	Tue, Thu, Sat
*/
Invoking: `sql_db_query_checker` with `{'query': "SELECT ArrivalTime, PlatformNumber, TrainName FROM TrainSchedule WHERE Destinations LIKE '%Surat%' ORDER BY ArrivalTime LIMIT 10;"}`


```sql
SELECT ArrivalTime, PlatformNumber, TrainName FROM TrainSchedule WHERE Destinations LIKE '%Surat%' ORDER BY ArrivalTime LIMIT 10;
```
Invoking: `sql_db_query` with `{'query': "SELECT ArrivalTime, PlatformNumber, TrainName FROM TrainSchedule WHERE Destinations LIKE '%Surat%' ORDER BY ArrivalTime LIMIT 10;"}`


[('18:00:00', 2, 'Golden Temple Mail')]The next train to Surat is the **Golden Temple Mail**, which will arrive at **18:00** on **Platform 2**.

> Finished chain.
The next train to Surat is the **Golden Temple Mail**, which will arrive at **18:00** on **Platform 2**.

In [8]:
response = agent_executor.invoke("Which trains do not function on weekends?")
print(response["output"])

> Entering new SQL Agent Executor chain...

Invoking: `sql_db_list_tables` with `{}`


TrainSchedule
Invoking: `sql_db_schema` with `{'table_names': 'TrainSchedule'}`



CREATE TABLE "TrainSchedule" (
	"TrainNumber" INTEGER,
	"ArrivalTime" TIME,
	"DepartureTime" TIME,
	"Destinations" TEXT,
	"DestinationTimes" TEXT,
	"TicketFare" DECIMAL(10, 2),
	"PlatformNumber" INTEGER,
	"TrainName" VARCHAR(100),
	"TrainType" VARCHAR(50),
	"DaysOfOperation" VARCHAR(50),
	PRIMARY KEY ("TrainNumber")
)

/*
3 rows from TrainSchedule table:
TrainNumber	ArrivalTime	DepartureTime	Destinations	DestinationTimes	TicketFare	PlatformNumber	TrainName	TrainType	DaysOfOperation
12301	08:15:00	08:30:00	Delhi, Jaipur, Ajmer	{"Delhi": "08:15", "Jaipur": "10:45", "Ajmer": "12:00"}	499.99	1	Rajdhani Express	Express	Mon, Wed, Fri
12622	10:45:00	11:00:00	Bangalore, Chennai, Hyderabad	{"Bangalore": "10:45", "Chennai": "13:30", "Hyderabad": "18:00"}	299.99	3	Karnataka Express	Superfast	Daily
11014	14:10:00	14:25:00	Mumbai, Pune, Goa	{"Mumbai": "14:10", "Pune": "16:00", "Goa": "19:30"}	199.99	4	Konkan Kanya Express	Express	Tue, Thu, Sat
*/
Invoking: `sql_db_query_checker` with `{'query': "SELECT TrainNumber, TrainName FROM TrainSchedule WHERE DaysOfOperation NOT LIKE '%Sat%' AND DaysOfOperation NOT LIKE '%Sun%';"}`


```sql
SELECT TrainNumber, TrainName FROM TrainSchedule WHERE DaysOfOperation NOT LIKE '%Sat%' AND DaysOfOperation NOT LIKE '%Sun%';
```
Invoking: `sql_db_query` with `{'query': "SELECT TrainNumber, TrainName FROM TrainSchedule WHERE DaysOfOperation NOT LIKE '%Sat%' AND DaysOfOperation NOT LIKE '%Sun%';"}`


[(12301, 'Rajdhani Express'), (12622, 'Karnataka Express'), (22406, 'Shatabdi Express'), (12223, 'Duronto Express'), (12716, 'Andhra Pradesh Express'), (12555, 'Gorakhpur Express'), (12498, 'Taj Express'), (12391, 'Magadh Express'), (12602, 'Tamil Nadu Express'), (12012, 'Intercity Express'), (12663, 'Brindavan Express')]The following trains do not operate on weekends:

1. Train Number: 12301, Train Name: Rajdhani Express
2. Train Number: 12622, Train Name: Karnataka Express
3. Train Number: 22406, Train Name: Shatabdi Express
4. Train Number: 12223, Train Name: Duronto Express
5. Train Number: 12716, Train Name: Andhra Pradesh Express
6. Train Number: 12555, Train Name: Gorakhpur Express
7. Train Number: 12498, Train Name: Taj Express
8. Train Number: 12391, Train Name: Magadh Express
9. Train Number: 12602, Train Name: Tamil Nadu Express
10. Train Number: 12012, Train Name: Intercity Express
11. Train Number: 12663, Train Name: Brindavan Express

(Note: I provided up to 11 results as they were all found in the database, but typically I would limit to 10 unless specified otherwise.)

> Finished chain.
The following trains do not operate on weekends:

1. Train Number: 12301, Train Name: Rajdhani Express
2. Train Number: 12622, Train Name: Karnataka Express
3. Train Number: 22406, Train Name: Shatabdi Express
4. Train Number: 12223, Train Name: Duronto Express
5. Train Number: 12716, Train Name: Andhra Pradesh Express
6. Train Number: 12555, Train Name: Gorakhpur Express
7. Train Number: 12498, Train Name: Taj Express
8. Train Number: 12391, Train Name: Magadh Express
9. Train Number: 12602, Train Name: Tamil Nadu Express
10. Train Number: 12012, Train Name: Intercity Express
11. Train Number: 12663, Train Name: Brindavan Express

(Note: I provided up to 11 results as they were all found in the database, but typically I would limit to 10 unless specified otherwise.)

In [9]:
# Try to fix query answer by providing more sample rows.
database = SQLDatabase.from_uri(db_uri, sample_rows_in_table_info=5)
agent_executor = create_sql_agent(llm, db=database, agent_type="openai-tools", verbose=True)

response = agent_executor.invoke("Which trains do not function on weekends?")
print(response["output"])

> Entering new SQL Agent Executor chain...

Invoking: `sql_db_list_tables` with `{}`


TrainSchedule
Invoking: `sql_db_schema` with `{'table_names': 'TrainSchedule'}`



CREATE TABLE "TrainSchedule" (
	"TrainNumber" INTEGER,
	"ArrivalTime" TIME,
	"DepartureTime" TIME,
	"Destinations" TEXT,
	"DestinationTimes" TEXT,
	"TicketFare" DECIMAL(10, 2),
	"PlatformNumber" INTEGER,
	"TrainName" VARCHAR(100),
	"TrainType" VARCHAR(50),
	"DaysOfOperation" VARCHAR(50),
	PRIMARY KEY ("TrainNumber")
)

/*
5 rows from TrainSchedule table:
TrainNumber	ArrivalTime	DepartureTime	Destinations	DestinationTimes	TicketFare	PlatformNumber	TrainName	TrainType	DaysOfOperation
12301	08:15:00	08:30:00	Delhi, Jaipur, Ajmer	{"Delhi": "08:15", "Jaipur": "10:45", "Ajmer": "12:00"}	499.99	1	Rajdhani Express	Express	Mon, Wed, Fri
12622	10:45:00	11:00:00	Bangalore, Chennai, Hyderabad	{"Bangalore": "10:45", "Chennai": "13:30", "Hyderabad": "18:00"}	299.99	3	Karnataka Express	Superfast	Daily
11014	14:10:00	14:25:00	Mumbai, Pune, Goa	{"Mumbai": "14:10", "Pune": "16:00", "Goa": "19:30"}	199.99	4	Konkan Kanya Express	Express	Tue, Thu, Sat
12903	18:00:00	18:15:00	Ahmedabad, Vadodara, Surat	{"Ahmedabad": "18:00", "Vadodara": "20:30", "Surat": "22:00"}	399.99	2	Golden Temple Mail	Superfast	Mon, Thu, Sun
22406	07:50:00	08:05:00	Amritsar, Ludhiana, Chandigarh	{"Amritsar": "07:50", "Ludhiana": "10:00", "Chandigarh": "11:30"}	599.99	6	Shatabdi Express	Shatabdi	Daily
*/
Invoking: `sql_db_query_checker` with `{'query': "SELECT TrainNumber, TrainName FROM TrainSchedule WHERE DaysOfOperation NOT LIKE '%Sat%' AND DaysOfOperation NOT LIKE '%Sun%'"}`


```sql
SELECT TrainNumber, TrainName FROM TrainSchedule WHERE DaysOfOperation NOT LIKE '%Sat%' AND DaysOfOperation NOT LIKE '%Sun%'
```
Invoking: `sql_db_query` with `{'query': "SELECT TrainNumber, TrainName FROM TrainSchedule WHERE DaysOfOperation NOT LIKE '%Sat%' AND DaysOfOperation NOT LIKE '%Sun%'"}`


[(12301, 'Rajdhani Express'), (12622, 'Karnataka Express'), (22406, 'Shatabdi Express'), (12223, 'Duronto Express'), (12716, 'Andhra Pradesh Express'), (12555, 'Gorakhpur Express'), (12498, 'Taj Express'), (12391, 'Magadh Express'), (12602, 'Tamil Nadu Express'), (12012, 'Intercity Express'), (12663, 'Brindavan Express')]The following trains do not function on weekends:

1. **Train Number:** 12301 - **Train Name:** Rajdhani Express
2. **Train Number:** 12622 - **Train Name:** Karnataka Express
3. **Train Number:** 22406 - **Train Name:** Shatabdi Express

(Note: Although I found more results, I am only listing up to 10 as per the guidelines.)

> Finished chain.
The following trains do not function on weekends:

1. **Train Number:** 12301 - **Train Name:** Rajdhani Express
2. **Train Number:** 12622 - **Train Name:** Karnataka Express
3. **Train Number:** 22406 - **Train Name:** Shatabdi Express

(Note: Although I found more results, I am only listing up to 10 as per the guidelines.)

In [10]:
# Still wrong answer, so try with dynamic few-shot prompts

examples = [
    {
        "input": "Find all trains that operate on weekends", 
        "query": "SELECT * FROM trainschedule WHERE DaysOfOperation LIKE '%Sun%' OR DaysOfOperation LIKE '%Sat%' OR DaysOfOperation LIKE '%Daily%';"
    },
    {
        "input": "Find all trains that do not operate on Tuesday", 
        "query": "SELECT * FROM trainschedule WHERE DaysOfOperation NOT LIKE '%Tue%' AND DaysOfOperation NOT LIKE '%Daily%';"
    },
    {
        "input": "Which trains operate everyday?", 
        "query": "SELECT * FROM trainschedule WHERE DaysOfOperation LIKE '%Daily%';"
    },
]

In [11]:
from langchain_community.vectorstores import FAISS
from langchain_core.example_selectors import SemanticSimilarityExampleSelector
from langchain_openai import OpenAIEmbeddings

example_selector = SemanticSimilarityExampleSelector.from_examples(
    examples,
    OpenAIEmbeddings(),
    FAISS,
    k=10,
    input_keys=["input"],
)

In [12]:
from langchain_core.prompts import (
    ChatPromptTemplate,
    FewShotPromptTemplate,
    MessagesPlaceholder,
    PromptTemplate,
    SystemMessagePromptTemplate,
)

system_prefix = """You are an agent designed to interact with a SQL database.
Given an input question, create a syntactically correct {dialect} query to run, then look at the results of the query and return the answer.
Unless the user specifies a specific number of examples they wish to obtain, always limit your query to at most {top_k} results.
You can order the results by a relevant column to return the most interesting examples in the database.
Never query for all the columns from a specific table, only ask for the relevant columns given the question.
You have access to tools for interacting with the database.
Only use the given tools. Only use the information returned by the tools to construct your final answer.
You MUST double check your query before executing it. If you get an error while executing a query, rewrite the query and try again.

DO NOT make any DML statements (INSERT, UPDATE, DELETE, DROP etc.) to the database.

If the question does not seem related to the database, just return "I don't know" as the answer.

Here are some examples of user inputs and their corresponding SQL queries:"""

few_shot_prompt = FewShotPromptTemplate(
    example_selector=example_selector,
    example_prompt=PromptTemplate.from_template(
        "User input: {input}\nSQL query: {query}"
    ),
    input_variables=["input", "dialect", "top_k"],
    prefix=system_prefix,
    suffix="",
)

In [13]:
full_prompt = ChatPromptTemplate.from_messages(
    [
        SystemMessagePromptTemplate(prompt=few_shot_prompt),
        ("human", "{input}"),
        MessagesPlaceholder("agent_scratchpad"),
    ]
)

In [14]:
# Example formatted prompt
prompt_val = full_prompt.invoke(
    {
        "input": "How many trains are there?",
        "top_k": 5,
        "dialect": "SQLite",
        "agent_scratchpad": [],
    }
)
print(prompt_val.to_string())

System: You are an agent designed to interact with a SQL database.
Given an input question, create a syntactically correct SQLite query to run, then look at the results of the query and return the answer.
Unless the user specifies a specific number of examples they wish to obtain, always limit your query to at most 5 results.
You can order the results by a relevant column to return the most interesting examples in the database.
Never query for all the columns from a specific table, only ask for the relevant columns given the question.
You have access to tools for interacting with the database.
Only use the given tools. Only use the information returned by the tools to construct your final answer.
You MUST double check your query before executing it. If you get an error while executing a query, rewrite the query and try again.

DO NOT make any DML statements (INSERT, UPDATE, DELETE, DROP etc.) to the database.

If the question does not seem related to the database, just return "I don't know" as the answer.

Here are some examples of user inputs and their corresponding SQL queries:

User input: Which trains operate everyday?
SQL query: SELECT * FROM trainschedule WHERE DaysOfOperation LIKE '%Daily%';

User input: Find all trains that operate on weekends
SQL query: SELECT * FROM trainschedule WHERE DaysOfOperation LIKE '%Sun%' OR DaysOfOperation LIKE '%Sat%' OR DaysOfOperation LIKE '%Daily%';

User input: Find all trains that do not operate on Tuesday
SQL query: SELECT * FROM trainschedule WHERE DaysOfOperation NOT LIKE '%Tue%' AND DaysOfOperation NOT LIKE '%Daily%';
Human: How many trains are there?

In [15]:
agent = create_sql_agent(
    llm=llm,
    db=db,
    prompt=full_prompt,
    verbose=True,
    agent_type="openai-tools",
)

In [16]:
response = agent.invoke({"input": "Which trains do not function on weekends?"})
print(response["output"])

> Entering new SQL Agent Executor chain...

Invoking: `sql_db_query_checker` with `{'query': "SELECT * FROM trainschedule WHERE DaysOfOperation NOT LIKE '%Sun%' AND DaysOfOperation NOT LIKE '%Sat%' AND DaysOfOperation NOT LIKE '%Daily%';"}`


```sql
SELECT * FROM trainschedule WHERE DaysOfOperation NOT LIKE '%Sun%' AND DaysOfOperation NOT LIKE '%Sat%' AND DaysOfOperation NOT LIKE '%Daily%';
```
Invoking: `sql_db_query` with `{'query': "SELECT TrainID, TrainName, DaysOfOperation FROM trainschedule WHERE DaysOfOperation NOT LIKE '%Sun%' AND DaysOfOperation NOT LIKE '%Sat%' AND DaysOfOperation NOT LIKE '%Daily%' LIMIT 10;"}`


Error: (sqlite3.OperationalError) no such column: TrainID
[SQL: SELECT TrainID, TrainName, DaysOfOperation FROM trainschedule WHERE DaysOfOperation NOT LIKE '%Sun%' AND DaysOfOperation NOT LIKE '%Sat%' AND DaysOfOperation NOT LIKE '%Daily%' LIMIT 10;]
(Background on this error at: https://sqlalche.me/e/20/e3q8)
Invoking: `sql_db_schema` with `{'table_names': 'trainschedule'}`


Error: table_names {'trainschedule'} not found in database
Invoking: `sql_db_list_tables` with `{}`


TrainSchedule
Invoking: `sql_db_schema` with `{'table_names': 'TrainSchedule'}`



CREATE TABLE "TrainSchedule" (
	"TrainNumber" INTEGER,
	"ArrivalTime" TIME,
	"DepartureTime" TIME,
	"Destinations" TEXT,
	"DestinationTimes" TEXT,
	"TicketFare" DECIMAL(10, 2),
	"PlatformNumber" INTEGER,
	"TrainName" VARCHAR(100),
	"TrainType" VARCHAR(50),
	"DaysOfOperation" VARCHAR(50),
	PRIMARY KEY ("TrainNumber")
)

/*
3 rows from TrainSchedule table:
TrainNumber	ArrivalTime	DepartureTime	Destinations	DestinationTimes	TicketFare	PlatformNumber	TrainName	TrainType	DaysOfOperation
12301	08:15:00	08:30:00	Delhi, Jaipur, Ajmer	{"Delhi": "08:15", "Jaipur": "10:45", "Ajmer": "12:00"}	499.99	1	Rajdhani Express	Express	Mon, Wed, Fri
12622	10:45:00	11:00:00	Bangalore, Chennai, Hyderabad	{"Bangalore": "10:45", "Chennai": "13:30", "Hyderabad": "18:00"}	299.99	3	Karnataka Express	Superfast	Daily
11014	14:10:00	14:25:00	Mumbai, Pune, Goa	{"Mumbai": "14:10", "Pune": "16:00", "Goa": "19:30"}	199.99	4	Konkan Kanya Express	Express	Tue, Thu, Sat
*/
Invoking: `sql_db_query_checker` with `{'query': "SELECT TrainNumber, TrainName, DaysOfOperation FROM TrainSchedule WHERE DaysOfOperation NOT LIKE '%Sun%' AND DaysOfOperation NOT LIKE '%Sat%' AND DaysOfOperation NOT LIKE '%Daily%' LIMIT 10;"}`


```sql
SELECT TrainNumber, TrainName, DaysOfOperation FROM TrainSchedule WHERE DaysOfOperation NOT LIKE '%Sun%' AND DaysOfOperation NOT LIKE '%Sat%' AND DaysOfOperation NOT LIKE '%Daily%' LIMIT 10;
```
Invoking: `sql_db_query` with `{'query': "SELECT TrainNumber, TrainName, DaysOfOperation FROM TrainSchedule WHERE DaysOfOperation NOT LIKE '%Sun%' AND DaysOfOperation NOT LIKE '%Sat%' AND DaysOfOperation NOT LIKE '%Daily%' LIMIT 10;"}`


[(12301, 'Rajdhani Express', 'Mon, Wed, Fri'), (12716, 'Andhra Pradesh Express', 'Tue, Fri'), (12555, 'Gorakhpur Express', 'Mon, Wed, Fri'), (12391, 'Magadh Express', 'Tue, Fri'), (12012, 'Intercity Express', 'Mon, Wed, Fri')]The trains that do not operate on weekends are:

1. **Rajdhani Express** - Operates on Mon, Wed, Fri
2. **Andhra Pradesh Express** - Operates on Tue, Fri
3. **Gorakhpur Express** - Operates on Mon, Wed, Fri
4. **Magadh Express** - Operates on Tue, Fri
5. **Intercity Express** - Operates on Mon, Wed, Fri

> Finished chain.
The trains that do not operate on weekends are:

1. **Rajdhani Express** - Operates on Mon, Wed, Fri
2. **Andhra Pradesh Express** - Operates on Tue, Fri
3. **Gorakhpur Express** - Operates on Mon, Wed, Fri
4. **Magadh Express** - Operates on Tue, Fri
5. **Intercity Express** - Operates on Mon, Wed, Fri